@model MeasuresMVC.Models.RoomModel

<tr>
	@Html.HiddenFor(model => model.RoomId)
	<td>
		@Html.DisplayFor(model => model.Name)
	</td>
	@*@Html.HiddenFor(model => model.Name)*@
	@if (Model.ShowCloset)
	{
		<td>
			@Html.CheckBoxFor(model => model.IncludeCloset)
			@Html.DisplayNameFor(model => model.IncludeCloset)
		</td>
	}
	else
	{
		<td></td>
	}
	<td>
		@Html.DropDownListFor(model => model.MaterialId, new SelectList(ViewBag.MaterialList, "Value", "Text"))
	</td>
</tr>
