@*Reference the Infragistics ASP.NET MVC Helpers Assembly*@
@using Infragistics.Web.Mvc
@using RandREng.MeasureDBEntity
@using MeasuresMVC.Utils

@model RandREng.MeasureDBEntity.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
	<div class="col-md-12">
		@Html.Partial("_PartialCustomer")
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}


<h4>Measure</h4>
<hr />
@Html.ActionLink("Create New", "CreateMeasure", new { id = Model.Id, ReturnUrl = ViewBag.ReturnUrl })
<table class="table">

	<tr>
		<th>
			Date Enterred
		</th>
		<th>
			Store
		</th>
	</tr>

	@foreach (var item in Model.Measures) {
	<tr>
		<td>
			@Html.DisplayFor2(modelItem => item.Enterred)
		</td>
		<td>
			@Html.DisplayFor2(modelItem => item.Store.Number)
		</td>

		<td>
			@Html.ActionLink("Edit", "Edit", "Measure", new { id = item.Id }, null) |
			@Html.ActionLink("Details", "Details", "Measure", new { id = item.Id }, null) |
			@Html.ActionLink("Delete", "Delete", "Measure", new { id = item.Id }, null)
		</td>
	</tr>
}

	</table>
