@using MeasuresMVC.Utils;

@model MeasuresMVC.Models.Edit2ViewModels

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Tech</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor2(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.PhoneNumber1)
		</dt>

		<dd>
			@Html.DisplayFor2(model => model.PhoneNumber1)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.PhoneNumber2)
		</dt>

		<dd>
			@Html.DisplayFor2(model => model.PhoneNumber2)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EmailAddress)
		</dt>

		<dd>
			@Html.DisplayFor2(model => model.EmailAddress)
		</dd>
	</dl>
	@using (Html.BeginForm("Edit2", "Tech"))
	{
		@Html.AntiForgeryToken()
		<h4>Capacities</h4>
		<hr />
		@Html.ValidationSummary(true)

		<table class="table">
			<tr>
				<th>
					Type
				</th>
				<th>
					Sun
				</th>
				<th>
					Mon
				</th>
				<th>
					Tues
				</th>
				<th>
					Wed
				</th>
				<th>
					Thur
				</th>
				<th>
					Fri
				</th>
				<th>
					Sat
				</th>
				<th></th>
			</tr>

			<tr>
				<td>
					Morning
				</td>

				@foreach (int Morning in Model.Morning)
				{
					<td>
						@Html.TextBoxFor(cap => Morning, new { style = "width: 20px" })
						@Html.ValidationMessageFor(cap => Morning)
						@*@Html.LabelForModel*@
					</td>
				}
			</tr>
			<tr>
				<td>
					Afternoon
				</td>
				@foreach (int Afternoon in Model.Afternoon)
				{
					<td>
						@Html.TextBoxFor(cap => Afternoon, new { style = "width: 20px" })
						@Html.ValidationMessageFor(cap => Afternoon)
					</td>
				}
			</tr>
			<tr>
				<td>
					Evening
				</td>
				@foreach (int Evening in Model.Evening)
				{
					<td>
						@Html.TextBoxFor(cap => Evening, new { style = "width: 20px" })
						@Html.ValidationMessageFor(cap => Evening)
					</td>
				}
			</tr>

		</table>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>

	}
</div>

<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}