@model RandREng.MeasureDBEntity.StoreType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StoreType</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreTypeName)
        </dt>

        <dd>
            @Html.DisplayFor2(model => model.StoreTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            @Html.DisplayFor2(model => model.ImageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor2(model => model.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QBClass)
        </dt>

        <dd>
            @Html.DisplayFor2(model => model.QBClass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
